<div class="header pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Matiéres</h3>
            </div>
            <div class="col-line">
              <button
                type="button"
                class="btn btn-success btn-xs add_new"
                (click)="openAjout(classic1, 'modal_mini', 'lg')"
              >
                <i class="fa fa-user-plus" aria-hidden="true"></i> Nouvelle
                matiére
              </button>
            </div>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th class="text-darker">Nom</th>
                <th class="text-darker">Coefficient</th>
                <th class="text-darker">Enseignants</th>
              </tr>
            </thead>

            <tbody class="list">
              <tr
                *ngFor="let matiere of matieres | slice : startIndex : endIndex"
              >
                <td>{{ matiere.nom }}</td>
                <td>{{ matiere.coef }}</td>
                <td>
                  <a
                    class="badge badge-danger"
                    (click)="
                      openAjoutEnseig(classic3, 'modal_mini', 'lg', matiere)
                    "
                    >Ajouter Enseignant</a
                  ><br />
                  <button
                    type="button"
                    (click)="openEns(classic2, 'modal_mini', 'lg', matiere)"
                    class="btn btn-outline-default btn-sm"
                    style="margin-bottom: 2px"
                  >
                    Voir Enseignants
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li
                class="page-item"
                [ngClass]="{ notDisplay: currentItem == 0 || taille == 0 }"
              >
                <a
                  class="page-link"
                  (click)="updateIndex(currentItem - 1)"
                  href="javascript:void(0)"
                >
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>

              <li
                *ngFor="let i of pageItems; let in = index"
                class="page-item"
                [ngClass]="{ active: currentItem == in }"
              >
                <a
                  class="page-link"
                  (click)="updateIndex(in)"
                  href="javascript:void(0)"
                  >{{ in + 1 }}
                </a>
              </li>

              <li
                class="page-item"
                [ngClass]="{
                  notDisplay: currentItem == taille - 1 || taille == 0
                }"
              >
                <a
                  class="page-link"
                  (click)="updateIndex(currentItem + 1)"
                  href="javascript:void(0)"
                >
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #classic1 let-c="close" let-d="dismiss">
  <div class="modal-content">
    <div class="modal-body p-0">
      <div class="card bg-secondary shadow border-0">
        <div class="card-header bg-white">
          <div class="text-muted text-center">
            <h3>Ajouter une matiere</h3>
          </div>
        </div>
        <div class="card-body px-lg-5 py-lg-5">
          <form
            role="form"
            [formGroup]="addFormMatiere"
            (ngSubmit)="add_matiere()"
          >
            <div class="form-row">
              <div class="col">
                <label for="exampleFormControlTextarea1" class="text-dark"
                  >Nom :</label
                >
              </div>
              <div class="col">
                <label for="exampleFormControlTextarea1" class="text-dark"
                  >Coefficient :</label
                >
              </div>
            </div>
            <div class="form-row">
              <div class="col">
                <div class="form-group mb-3">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="ni ni-single-02"></i
                      ></span>
                    </div>
                    <input
                      class="form-control text-dark"
                      formControlName="nom"
                      placeholder="Nom"
                      type="text"
                      [ngClass]="
                        (Nom?.touched || Nom?.dirty) && Nom?.errors
                          ? 'is-invalid'
                          : ''
                      "
                    />
                    <div class="invalid-feedback">
                      Ce champs est obligatoire
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="form-group mb-3">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="ni ni-single-02"></i
                      ></span>
                    </div>
                    <input
                      class="form-control text-dark"
                      formControlName="coef"
                      placeholder="Coefficient"
                      type="text"
                      [ngClass]="
                        (Coef?.touched || Coef?.dirty) && Coef?.errors
                          ? 'is-invalid'
                          : ''
                      "
                    />
                    <div class="invalid-feedback">
                      Ce champs est obligatoire
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center">
              <button
                type="submit"
                [disabled]="addFormMatiere?.invalid"
                class="btn btn-primary my-4"
              >
                <span class="btn-inner--icon"><i class="fa fa-plus"></i></span>
                Ajouter la nouvelle matiere
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #classic2 let-c="close" let-d="dismiss">
  <div class="modal-content">
    <div class="modal-body p-0">
      <div class="card bg-secondary shadow border-0">
        <div class="card-header bg-white">
          <div class="text-muted text-center">
            <h3>Voir enseignants de matiere: {{ matiereEn.nom }}</h3>
          </div>
        </div>
        <div class="card-body px-lg-5 py-lg-5">
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th class="text-darker">Nom et Prénom</th>
                  <th class="text-darker">Email</th>
                </tr>
              </thead>

              <tbody class="list">
                <tr *ngFor="let ens of matiereEnsei">
                  <td>{{ ens.nom }} {{ ens.prenom }}</td>
                  <td>{{ ens.mail }}</td>
                </tr>
              </tbody>
            </table>
            <br />
            <div style="font-size: 13px" *ngIf="matiereEnsei == NULL">
              *Aucun enseignant est affecté à cette matiére pour le moment
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #classic3 let-c="close" let-d="dismiss">
  <div class="modal-content">
    <div class="modal-body p-0">
      <div class="card bg-secondary shadow border-0">
        <div class="card-header bg-white">
          <div class="text-muted text-center">
            <h3>Tous les Enseignants:</h3>
          </div>
        </div>
        <div class="card-body px-lg-5 py-lg-5">
          <form
            role="form"
            [formGroup]="addFormEnsToMat"
            (ngSubmit)="add_EnsToMat()"
          >
            <div class="form-row">
              <div class="col">
                <label for="exampleFormControlTextarea1" class="text-dark"
                  >Enseignant :</label
                >
              </div>
            </div>
            <div class="form-row">
              <div class="col">
                <div class="form-group mb-3">
                  <select
                    formControlName="nomEns"
                    class="form-control text-dark"
                    [ngClass]="
                      NomEns.dirty && NomEns.errors ? 'is-invalid' : ''
                    "
                  >
                    <option value="" disabled selected>
                      Choisissez Enseignant
                    </option>
                    <option [value]="ens.nom" *ngFor="let ens of enseignants">
                      {{ ens.nom }} {{ ens.prenom }}
                    </option>
                  </select>
                  <div class="invalid-feedback">Ce champs est obligatoire</div>
                </div>
              </div>
            </div>

            <div class="text-center">
              <button
                type="submit"
                [disabled]="addFormEnsToMat?.invalid"
                class="btn btn-primary my-4"
              >
                <span class="btn-inner--icon"><i class="fa fa-plus"></i></span>
                Affecter l'Enseignant
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-template>
